{% extends "base.html" %}

{% block content %}
 <h2>Sign Ups</h2>
<table class="table table-striped">
	
   {% for signup in object_list %}
  <tr>
  <td>{{ signup.full_name }}</td>
   <td>{{ signup.email }}</td>
   <td>{{ signup.created_time }}</td>
   <td><a href="{% url 'signup-update' signup.id %}">Edit</a></td>
   <td><a href="{% url 'signup-delete' signup.id %}">Delete</a></td>
    </tr>
   {% endfor %}
</tr>
</table>
{% endblock %}

{% block navbar_right %}
 {% include "news/signup_dropdown.html" %}
{% endblock %}